



@use "../scss/variables" as app;


#main {
    @include app.container; 
    width: 100vw; 
    height: 100vh;
}


.map {

    position: fixed; 
    width: 100%; 
    height: 100%;
}

.greeting {

    width: 100%; 
    text-align: left;

    font-size: 2rem; 
    font-weight: app.$weight-bold;
}





