



@use "../app/variables" as app;


#main {
    @include app.container; 
    width: 100vw; 
    height: 100vh;
}




.greeting {

    width: 100%; 
    text-align: left;

    font-size: 2rem; 
    font-weight: app.$weight-bold;
}





